<details open>
    <summary>{{name}}</summary>
    <fieldset>
        {{#children.size}}
            {{#children}}
                {{{render}}}
            {{/children}}
        {{/children.size}}
    </fieldset>
</details>