<details open>
    <summary>{{name}}</summary>
    <fieldset>
        {{#children.size}}
            {{#children}}
                {{#render}}
                {{/render}}
            {{/children}}
        {{/children.size}}
    </fieldset>
</details>