<div class="field">
    <label for="field-id-{{id}}">
        {{name}}
    </label>
    <input id="field-id-{{id}}"
           name="{{name}}"
           checked="{{value}}"
           type="checkbox">
</div>