<div class="field">
    <label for="field-id-{{id}}">
        {{name}}
    </label>
    <select id="field-id-{{id}}">
        {{#options}}
            <option value="{{.}}">{{.}}</option>
        {{/options}}
    </select>
</div>