<div class="field">
    <label for="field-id-{{id}}">
        {{name}}
        {{#tooltip}}
            <span title="{{.}}">(?)</span>
        {{/tooltip}}
    </label>
    <input id="field-id-{{id}}"
           name="{{name}}"
           value="{{value}}"
           type="text">
</div>